<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>师傅</title>
    <link rel="stylesheet" href="https://backoffice.despegar.com/eva/dist/3.0.0/components/reset/reset.css">
    <link rel="stylesheet" href="https://cl.staticontent.com/sbox/static/4.1.115/boxes.module/css/main.css">
    <link rel="stylesheet" href="<%= css %>">
</head>
<body product="transfers">
    <%- header %>
    <%- footer %>
</body>
<script src="<%= js %>"></script>
</html>
